*{
    margin: 0;
    padding: 0;
}

body{
    font-family:'Work Sans', serif;
    background-color: #1f1f1f;
    color: #ffffff;
}

.slider{
    width: 100%;
    height: 100vh;
    position: relative;
}

.slider-background{
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(50%);
}
.slider-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

h1{
    color: white;
    font-size: 4rem;
}

.point {
    list-style-type: none; /* Supprime les puces par défaut */
}

.point li::before {
    content: "➤ "; /* Remplace par le symbole souhaité */
    color: #680080; /* Personnalise la couleur si besoin */
    font-size: 1.2em; /* Ajuste la taille du symbole */
    margin-right: 10px; /* Ajoute un espace après le symbole */
}

h2{
    font-size: 3rem;
    margin-bottom: 2%;
}

.taille>p{
    text-align: justify;
}

p{
    font-size: 140%;
    line-height: 1.5em;
    margin-bottom: 5%;
    margin-top: 4%;
}

.slider-content p {
    color: white;
    font-size: 1rem;
    font-weight: 100;
    margin-top: 2%;
}

.boxed{
    max-width: 100%;
    margin-inline: auto;
}

.flex{
    display: flex;
    flex-direction: column;
    margin: 0% 0% 0% 10%;
}

.para{
    width: 85%;
    text-align: justify;
}

i{
    color: #f9ecfb;
}

.phase>li>span{
    font-size: 112%;
}

.line>span{
    display: block;
    height: 5px;
    border-radius: 5px;
    background: #5c0566;
    width: 10%;
}

.line>span:nth-child(3){
    margin: 1% 0% 2% 4%;
}

footer{
    margin-top: 7%;
}

.section{
    padding-top: 3%;
    width: 100%;
    height: 95vh;
    position: relative;
}

.page{
    width: 100%;
    position: relative;
    padding: 3% 0;
}
  
  /* Container */
  .container {
    display: flex;
    gap: 50px; /* Espacement entre les deux colonnes */
    justify-content: space-evenly;
    text-align: center;
  }
  
  /* Skills Section */
  .skills-section {
    width: 40%;
    margin-top: 6%;
  }
  
  /* Individual Skill */
  .skill {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
  }
  
  /* Skill Name */
  .skill span:first-child {
    flex: 1;
    text-align: justify;
  }
  
  /* Progress Bar Container */
  .progress-bar {
    flex: 3;
    height: 8px;
    background: #2c1135bd;
    border-radius: 5px;
  }
  
  /* Progress Bar Fill */
  .progress {
    height: 100%;
    background: #7a0a9f; /* Couleur jaune */
    border-radius: 5px;
  }
  
  /* Percentage */
  .percentage {
    margin-left: 5%;
  }

  .outils{
    display: flex;
    flex-direction: column;
    margin-left: 30%;
  }

  .outils>span{
    margin-bottom: 1%;
    text-align: justify;
  }
  

.highlight{
    font-weight: bold;
    color:#aa2dd8;
}

#cv{
    font-family: "Cantarell", Sans-serif;
    text-align: center;
    font-weight: 700;
    font-size: 80%;
    color: #ffffff;
    line-height: 1.8em;
    letter-spacing: 2px;
    background-color: #A160FF;
    border-radius: 99px 99px 99px 99px;
    padding: 13px 23px 13px 23px;
    box-shadow: 0px 21px 25px -15px rgba(160.99999999999994, 96, 255, 0.5);
    text-decoration: none;
}

.text-center{
    text-align: center;
}

.w32{
    width: 32%;
}

.wrap{
    flex-wrap: wrap;
    display: flex;
}

.space-between{
    justify-content: space-between;
}

.space-around{
    justify-content: space-around;
}

.space-evenly{
    justify-content: space-evenly;
}

.group{
    display: flex;
    justify-content: center;
    margin-top: 4%
}

.projet{
    background: #3f194eaa;
    cursor: pointer;
    margin-bottom: 3%;
    width: 40%;
}

.compétences{
    display:flex ;
    background-color:#312634e0;
    padding: 2%;
    margin-bottom: 3%;
    width: 25%;
    flex-direction: column;
}

.projet:hover{
    background: #7d329b89;
}

.projet a{
    padding: 5% 10% 5% 10%;
    display: block;
    text-transform: uppercase;
    letter-spacing: .15em;
}

.index{
    position: relative;
    z-index: 20;
}

.logo{
    position:fixed;
    z-index: 10;
    top: 1%;
    left:1%;
    width: 100%;
}

.logo>a{
    width: 20%;
}

.check{
    width: 6%;
    margin-right: 5%;
    text-align: justify;
}

.flex-l{
    display: flex;
}

.width{
    width: 40%;
}

.block>a{
    font-size: 120%;
    transition: .2s ease;
    text-decoration: none;
    color: #ffffffcf;
    display: block;
    padding: 10px;
    box-sizing: border-box;
}

.text-size{
    font-size: 120%;
}

#fleche{
    display: flex;
    justify-content: center;
}

#fleche > img {
    width: 3%;
    animation: bounce 6s ease-in-out 0s infinite;
    display: block;
}

#fleche.hidden {
    display: none;
}

.block>a:hover{
    color: #e5a9ff;
    font-size: 130%;
}

.marg-r{
    list-style: none;
    margin-right: 5%;
}

.align-item{
    align-items: center;
}

.contact{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact h1{
    font-size: 400%;
    margin: 10vh 0 2% 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.contact h4{
    font-size: 150%;
    font-family: "Gill Sans", sans-serif;
    font-weight: 100;
    width: 60%;
    text-align: center;
}

h3{
    font-size: 170%;
    margin-bottom: 2%;
}

h5{
    margin-bottom: 2%;
    font-size: 120%;
}

h5>span{
    font-size: 70%;
    color: #f694ffdb;
}

h6{
    margin-bottom: 7%;
    font-size: 100%;
    color: #ffffffd2;
    font-weight: normal;
    width: 90%;
}

.margin-top{
    margin-top: 6%;
}

.dimension{
    margin-left: 14%;
    width: 75%;
}

.adr{
    width: 30%;
}

.w70{
    width: 60%;
}

.media{
    margin-top: 10%;
    width: 10%;
}

a{
    text-decoration: none;
    color: #ffffff;
}

h4{
    margin-top: 5vh;
    margin-bottom: 10vh;
}

.menu-burger{
    height: 50%;
    width: 15%;
    position: absolute;
}

.compétences>h4:first-child{
 margin-top: 1%;
 margin-bottom: 3%;
}

.compétences>h4:last-child{
    margin-top: 10%;
    margin-bottom: 1%;
}

.largeur{
    width: 40%;
}

.phase>li{
    font-size: 120%;
    line-height: 1.8em;
    margin-left: 5%;
    text-align: justify;
}


.taille>h3{
    font-size: 190%;
}

.w25{
    width: 25%;
}

.color{
    text-decoration: underline;
}

.header-menu{
    display: flex;
}

.taille>ul{
    width: 120%;
}

.interface{
    margin-left: 0;
}
.interface>h6{
    margin-top: 2%;
    width: 72%;
}

.marg-b{
    margin-bottom: 3%;
}

/* RESPONSIVE */

@media(max-width:900px){
    .para>p{
        font-size: 100%;
    }
}

@media(max-width:550px){
    .para>p{
        font-size: 80%;
    }
}

@media(max-width:810px){
    .header-menu>li{
        font-size: 70%;
    }
    h2{
        font-size: 2rem;
        text-align: center;
    }
    .boxed>h2{
        margin-top: 20%;
    }
    .projet{
        font-size: 70%;
        line-height: 180%;
    }

    .responsive{
        flex-direction: column;
        text-align: center;
        align-items: center;
    }
    .responsive>div>ul{
        width: 100%;
        font-size: 60%;
    }
    .responsive>img{
        width: 80%;
    }
    .flex-row{
        flex-direction: column;
        align-items: center;
        font-size: 80%;
    }
    .flex-row>div{
        width: 60%;
    }
    footer{
        margin-top: 20%;
    }
    .w32{
        width: 40%;
    }
    .contact{
        font-size: 70%;
    }
    .page-contact{
        margin-top: 50%;
    }
    h1{
        font-size: 3rem;
    }
    .w32{
        font-size: 80%;
    }
    .width{
        width: 80%;
    }
    .w70{
        width: 90%;
    }
    #compétences{
        font-size: 80%;
        text-align: center;
    }
    .outils{
        margin-left: 10%;
    }
    .container{
        gap: 0;
    }
    .taille>div>h6{
        font-size: 70%;
    }
    .taille>p{
        font-size: 100%;
    }
    .taille>div>h5{
        font-size: 100%;
    }
    .taille>h2{
        font-size: 170%;
    }
    .group{
        flex-direction: column;
        align-items: center;
    }
    .flex{
        flex-direction: column;
        align-items: center;
    }
    .no-margin{
        margin: 0;
    }
    .largeur{
        width: 80%;
    }
    .section{
        height: 80vh;
    }
}

@media(max-height:790px){
    .taille>p{
        font-size: 90%;
    }
    .taille>h2{
        font-size: 160%;
    }
    .taille>div>h5{
        font-size: 80%;
    }
}

@media(max-height:500px){
    .para>p{
        font-size: 70%;
    }
}
